<h1>Salut à toi jeune entrepreneur</h1>

<h3>Si tu vois ceci c'est que tu as réussis à accéder au serveur Rails, félicitations !</h3>

<p>Tu veux accéder au site côté thérapeuthe ? <%= link_to 'Viens par ici', root_path %></p>
