<h1>Modifier la Séance</h1>

<%= render 'form', consultation: @consultation %>

<div class="my-5">
  <%= link_to 'Voir', @consultation, class: "btn btn-outline-primary mx-1" %>
  <%= link_to 'Retour', consultations_path, class: "btn btn-outline-secondary mx-1" %>
</div>

