<p id="notice"><%= notice %></p>

<h1>Scéances à venir</h1>
<%= render partial: 'table', locals: { consultations: @consultations.where('schedule_time > ?', DateTime.now)} %>

<h1>Scéances passées</h1>
<%= render partial: 'table', locals: { consultations: @consultations.where('schedule_time < ?', DateTime.now)} %>

<br>

<%= link_to 'Ajouter une nouvelle séance', new_consultation_path %>
